.card-button {
    position: fixed;
    right: 16px;
    bottom: 20px;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);

    .cart-float-button {
        width: 60px;
        height: 60px;
        background-color: #008358 !important;
        transition: .2s linear !important;
        margin-right: 0 !important;

        .cart-float-button-icon {
            position: absolute;
            right: 5%;
            bottom: 0;
            left: 0;
            top: 25%;
        }

        span {
            background-color: #fff;
            border-radius: 50%;
            color: #f58220;
            font-size: .7rem;
            padding: 0;
            position: absolute;
            top: 20%;
            right: 20%;
            left: unset;
            bottom: unset;
            width: 15px;
            height: 15px;
            line-height: 15px;
            cursor: pointer;
        }
    }
}