.cart {
    padding-bottom: 230px;

    .empty-cart-msg {
        text-align: center;
        color: $mortar;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .cart-actions {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .cart-summary {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem;
        background-color: $white;
        border-top: 1px solid $whiteSmoke;

        .invalid-msg {
            color: $crimson;
            text-align: center;
            margin-bottom: 0.75rem;

            .login-link {
                color: $crimson;
                font-weight: 600;
            }
        }

        .subtotal {
            @include display-flex;
            @include align-items-start;

            margin-bottom: 0.75rem;

            .label {
                @include flex-grow(1);

                font-size: $fontSize16;
            }

            .values {
                text-align: right;

                .value {
                    font-size: $fontSize22;
                    font-weight: 600;
                }

                .original-value {
                    font-size: $fontSize16;
                }
            }
        }

        .proceed-to-checkout-btn {
            width: 100%;
        }
    }
}