.category-tile {
    @include make-custom-col(25%, 5px);
    @include display-flex;
    @include flex-column;
    @include align-items-center;

    margin-bottom: 1.2rem;

    .category-icon {
        width: 64px;
        height: 64px;
        padding: 5px;
        margin-bottom: 8px;
        border-radius: 15px;

        @include box-shadow(0 0 6px 2px rgba(34, 36, 38, 0.15));

        img {
            @include fit-image;
        }
    }
}