.checkout {
    padding-bottom: 200px;
    background-color: $whiteSmoke;

    .checkout-section {
        .section-header {
            padding: 0.5rem 0.75rem;
            background-color: $whiteSmoke;
            font-size: $fontSize16;
            font-weight: 600;
            color: $dustyGray;
        }

        .section-body {
            padding: 0.75rem;
            background-color: $white;
        }

        &.customer-details {
            .section-body {
                padding-left: 0;
            }
        }
    }

    .order-summary {
        .edit-cart-link {
            margin-bottom: 0.75rem;
            font-weight: 600;

            a {
                color: $lighterGreen;
                text-decoration: none;
            }
        }

        .summary {
            padding-top: 0.75rem;
            padding-bottom: 0.25rem;

            .summary-entry {
                @include make-custom-row(0);

                .summary-title {
                    @include make-custom-col(77%, 0);
                }

                .summary-amount {
                    @include make-custom-col(23%, 0);
                }
            }
        }
    }

    .payment {
        .payment-inner {
            @include make-custom-row(0);

            .payment-methods {
                @include make-custom-col(50%, 0);

                padding-right: 15px;
                border-right: solid 1px $gainsboro;
            }

            .promos {
                @include make-custom-col(50%, 0);

                padding-left: 15px;
                color: $dustyGray;
            }
        }
    }

    .order-placement {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem;
        background-color: $white;
        border-top: 1px solid $whiteSmoke;

        .invalid-msg {
            color: $crimson;
            text-align: center;
            margin-bottom: 0.75rem;
        }

        .subtotal {
            @include display-flex;
            @include align-items-start;

            margin-bottom: 0.75rem;

            .label {
                @include flex-grow(1);

                font-size: $fontSize16;
            }

            .values {
                text-align: right;

                .value {
                    font-size: $fontSize22;
                    font-weight: 600;
                }

                .original-value {
                    font-size: $fontSize16;
                }
            }
        }

        button {
            width: 100%;
        }
    }
}

.customer-field {
    @include make-custom-row(0);

    &:not(:last-child) {
        margin-bottom: 0.75rem;
    }

    .field-icon {
        @include make-custom-col(15%, 0);
        @include display-flex;
        @include justify-content-center;
        @include align-items-center;

        color: $lighterGreen;
    }

    .field-data {
        @include make-custom-col(85%, 0);

        h5 {
            display: block;
            font-size: $fontSize16;
            font-weight: 600;
            margin-bottom: 0.25rem;
        }

        span {
            color: $mortar;
        }
    }
}

.payment-method-list,
.promo-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .list-item {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        @include make-custom-row(0);
        @include align-items-center;

        .payment-method-name {
            @include make-custom-col(85%, 0);
        }

        .checkmark {
            @include make-custom-col(15%, 0);

            visibility: hidden;
            color: $lighterGreen;
            text-align: right;
        }

        &.selected {
            .checkmark {
                visibility: visible;
            }
        }
    }
}