.home-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 66px;
    z-index: 999;
    background-color: $white;

    @include box-shadow(0 1px 6px 0 rgba(32, 33, 36, 0.1));

    .home-header-wrapper {
        @include display-flex;

        .search-box {
            @include flex-grow(1);
        }

        button {
            margin-left: 0.5rem;
            margin-right: 0;
        }
    }
}