.home-header {
    @include app-header;

    height: $homeHeaderHeight;

    .home-header-wrapper {
        @include display-flex;
        @include align-items-center;

        .search-box {
            @include flex-grow(1);
        }

        .account-btn {
            margin-left: 0.5rem;
            margin-right: 0;
        }
    }
}