.login {
    .login-body {
        padding: 1rem;

        .login-form {
            .submit-button-wrapper {
                width: 100%;
                text-align: center;
            }

            button {
                margin: 0;
            }
        }
    }
}