.order-detail-page {
    background-color: $whiteSmoke;
    padding-bottom: 60px;

    .see-order-history {
        background-color: $transparent;
        padding: 1rem 1rem 0 1rem;
        font-weight: 500;

        a {
            color: $denim;
        }
    }

    .order-details {
        text-align: center;
    }

    .bottom-action {
        padding: 1rem 1rem 0 1rem;
        text-align: center;

        .cancellation-description {
            font-size: $fontSize12;
            color: $dustyGray;
            margin-top: 0.5rem;
        }
    }

    .order-info-entries {
        margin-top: -0.25rem;
        margin-bottom: -0.25rem;
    }

    .order-status {
        .order-step-details {
            margin-top: -0.5rem;
            margin-bottom: -0.5rem;

            .order-step-detail {
                padding-top: 0.35rem;
                padding-bottom: 0.35rem;
            }
        }

        .cancellation-reason {
            margin-top: 0.7rem;
        }

        .cancelled {
            color: $crimson;
        }
    }

    .payment-info-entries {
        .order-amount {
            color: $lighterGreen;
            font-size: $fontSize18;
            font-weight: 600;
        }

        .payment-status,
        .payment-method {
            font-weight: 600;
        }
    }

    .order-info-entry {
        @include make-custom-row(0);
        @include align-items-center;

        padding: 0.25rem 0;

        .icon {
            @include make-custom-col(10%, 0);

            color: $mortar;
            text-align: center;
        }

        .content {
            @include make-custom-col(90%, 0);

            padding-left: 10px;
            font-size: $fontSize15;
        }
    }

    .ui.card {
        border-radius: 0;

        >div {
            text-align: left;
        }

        &.order-info {
            margin-top: 1rem;
        }

        &.order-status {
            .content.order-status-header {
                @include display-flex;
                @include align-items-center;

                .header {
                    @include flex-grow(1);
                }
            }
        }

        &.order-details {
            .summary {
                padding-top: 0.75rem;

                .summary-entry {
                    @include make-custom-row(0);

                    .summary-title {
                        @include make-custom-col(77%, 0);
                    }

                    .summary-amount {
                        @include make-custom-col(23%, 0);

                        font-weight: 600;
                        font-size: $fontSize15;
                    }
                }
            }
        }
    }
}

.cancellation-modal {
    .message {
        margin-bottom: 0.5rem;
    }

    .reason-select {
        width: 100%;
    }
}