.order-detail-page {
    background-color: $whiteSmoke;
    padding-bottom: 60px;

    .order-details {
        text-align: center;
    }

    .order-info-entries {
        margin-top: -0.25rem;
        margin-bottom: -0.25rem;
    }

    .payment-info-entries {
        .order-amount {
            color: $lighterGreen;
            font-size: $fontSize18;
            font-weight: 600;
        }

        .payment-status,
        .payment-method {
            font-weight: 600;
        }
    }

    .order-info-entry {
        @include make-custom-row(0);
        @include align-items-center;

        padding: 0.25rem 0;

        .icon {
            @include make-custom-col(10%, 0);

            color: $mortar;
            text-align: center;
        }

        .content {
            @include make-custom-col(90%, 0);

            padding-left: 10px;
            font-size: $fontSize15;
        }
    }

    .ui.card {
        border-radius: 0;

        >div {
            text-align: left;
        }

        &.order-info {
            margin-top: 1rem;
        }

        &.order-details {
            .summary {
                padding-top: 0.75rem;

                .summary-entry {
                    @include make-custom-row(0);

                    .summary-title {
                        @include make-custom-col(77%, 0);
                    }

                    .summary-amount {
                        @include make-custom-col(23%, 0);

                        font-weight: 600;
                        font-size: $fontSize15;
                    }
                }
            }
        }
    }
}