.inner-page.order-confirmation {
    .icon {
        text-align: center;
        color: $crimson;
        padding-top: 2.5rem;
    }

    .order-confirmation-msg {
        text-align: center;
        padding-top: 1.5rem;
    }

    .back-to-homepage {
        text-align: center;
        padding-top: 2rem;
    }
}