.product-tile {
    position: relative;
    height: 100%;
    padding: 10px 10px 4rem;
    border-radius: 5px;

    @include box-shadow(0 0 5px 1px rgba(0, 0, 0, 0.15));

    &:not(:last-child) {
        margin-right: 0.65rem;
    }

    .product-info {
        img {
            @include fit-image;
        }

        .product-name {
            font-size: $fontSize12;
            margin-top: 0.85rem;
            margin-bottom: 0.5rem;
        }

        .sale-price {
            font-size: $fontSize18;
            font-weight: 500;
        }
    }
}