.store-selector {
    @include display-flex;
    @include flex-column;
    @include justify-content-center;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 5000;
    padding: 1rem;

    .header {
        margin-bottom: 1rem;
    }
}