@mixin display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex($width-percentage) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 $width-percentage;
    flex: 0 0 $width-percentage;
    max-width: $width-percentage;
}

@mixin make-custom-row($row-margin: -15px) {
    @include display-flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: $row-margin;
    margin-right: $row-margin;
}

@mixin make-custom-col($width-percentage, $col-padding: 15px) {
    @include flex($width-percentage);

    position: relative;
    width: 100%;
    padding-left: $col-padding;
    padding-right: $col-padding;
}

@mixin flex-grow($num) {
    -webkit-box-flex: $num;
    -ms-flex-positive: $num;
    flex-grow: $num;
}

@mixin flex-shrink($num) {
    -ms-flex-negative: $num;
    flex-shrink: $num;
}

@mixin flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

@mixin flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@mixin flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

@mixin align-items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@mixin align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin align-items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@mixin justify-content-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@mixin justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin justify-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@mixin mobile-only($displayValue: block) {
    display: $displayValue;

    @include media-breakpoint-up(xl) {
        display: none;
    }
}

@mixin desktop-only($displayValue: block) {
    display: none;

    @include media-breakpoint-up(xl) {
        display: $displayValue;
    }
}

@mixin text-overflow($value) {
    -o-text-overflow: $value;
    text-overflow: $value;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    box-shadow: $value;
}

@mixin fit-image {
    height: 100%;
    width: 100%;
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}