$black:             #000;
$white:             #fff;
$whiteSmoke:        #f4f4f4;
$gainsboro:         #dfdfdf;
$mortar:            #555;
$dimGray:           #606060;
$cobalt:            #0747a6;
$denim:             #1c63ce;
$darkCerulean:      #05367f;
$text:              #212529;
