/* colors */
$black:             #000;
$white:             #fff;
$red:               #f00;
$darkGreen:         #008358;
$lighterGreen:      #4db856;
$whiteSmoke:        #f2f2f2;
$gainsboro:         #dfdfdf;
$mortar:            #555;
$dimGray:           #606060;
$cobalt:            #0747a6;
$denim:             #1c63ce;
$darkCerulean:      #05367f;
$text:              #212529;
$prelude:           #d9d2ee;
$shark:             #212529;
$gray:              #888;
$dustyGray:         #999;
$goldenGrass:       #daa520;

/* font sizes */
$fontDefault: 14px;
$fontSize10: 0.7143rem;
$fontSize11: 0.786rem;
$fontSize12: 0.857rem;
$fontSize13: 0.929rem;
$fontSize14: 1rem;
$fontSize15: 1.0714rem;
$fontSize16: 1.1429rem;
$fontSize17: 1.2143rem;
$fontSize18: 1.2857rem;
$fontSize20: 1.4286rem;
$fontSize22: 1.5714rem;
$fontSize23: 1.6429rem;
$fontSize24: 1.7143rem;
$fontSize25: 1.7857rem;
$fontSize26: 1.8571rem;
$fontSize28: 2rem;
$fontSize29: 2.0714rem;
$fontSize30: 2.1429rem;
$fontSize35: 2.5rem;
$fontSize40: 2.8571rem;
$fontSize45: 3.2143rem;
$fontSize48: 3.4286rem;
$fontSize50: 3.7143rem;
$fontSize60: 4.2857rem;
$fontSize70: 5rem;

/* custom measurements */
$homeHeaderHeight: 66px;
$pageHeaderHeight: 53px;