html,
body {
    font-size: 14px;
    color: $text;
}

body {
    &.unscrollable {
        overflow-y: hidden;
    }

    &.white-smoke-bg {
        background-color: $whiteSmoke;
    }
}

a,
a:hover {
    color: $text;
}

#app {
    background-color: $whiteSmoke;
}

.inner-page {
    background-color: $white;

    &:not(.home) {
        padding-top: 53px;
    }

    .top-section {
        border-bottom: 10px solid $whiteSmoke;
    }
}

.page {
    max-width: $maxViewWidth;
    margin-left: auto;
    margin-right: auto;
}

.component-container {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}