html,
body {
    font-size: 14px;
}

#app {
    background-color: $prelude;
}

.inner-page {
    background-color: $white;
}

.page {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}