/* utilities */
/* colors */
/* font sizes */
/* custom measurements */
/* global styles */
html,
body {
  font-size: 14px;
  color: #212529;
}

body.unscrollable {
  overflow-y: hidden;
}
body.white-smoke-bg {
  background-color: #f2f2f2;
}

a,
a:hover {
  color: #212529;
}

#app {
  background-color: #d9d2ee;
}

.inner-page {
  background-color: #fff;
}
.inner-page:not(.home) {
  padding-top: 53px;
}
.inner-page .top-section {
  border-bottom: 10px solid #f2f2f2;
}

.page {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.component-container {
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* components */
.home-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.96);
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
  height: 66px;
}
.home-header .home-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home-header .home-header-wrapper .search-box {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.home-header .home-header-wrapper .account-btn {
  margin-left: 0.5rem;
  margin-right: 0;
}

.page-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.96);
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
  padding-left: 8px;
  height: 53px;
}
.page-header .page-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.page-header .page-header-wrapper .home-logo {
  position: absolute;
  top: 50%;
  left: 0;
  height: 41px;
  width: 41px;
  border-radius: 8px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.page-header .page-header-wrapper .home-logo img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.promo-banner img {
  height: 100%;
  width: 100%;
}

.category-list {
  margin-bottom: 1rem;
}
.category-list .list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.category-list .category-tile {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.category-list.has-2-cols .category-tile {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.category-list.has-3-cols .category-tile {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.category-list.has-4-cols .category-tile {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.category-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.2rem;
}
.category-tile .category-icon {
  width: 64px;
  height: 64px;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 6px 2px rgba(34, 36, 38, 0.15);
  box-shadow: 0 0 6px 2px rgba(34, 36, 38, 0.15);
}
.category-tile .category-icon img {
  height: 100%;
  width: 100%;
}
.category-tile.show-all .category-icon {
  position: relative;
}
.category-tile.show-all .category-icon span {
  font-size: 2.8571rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.category-tile a {
  color: #212529;
}

.home-category {
  padding-bottom: 2rem;
}
.home-category .home-category-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.home-category .home-category-header .category-name {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.home-category .home-category-header .category-name h5 {
  font-weight: bold;
}
.home-category .home-category-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-tile.horizontal {
  padding: 1.25rem 1.25rem 0 1.25rem;
}
.product-tile.horizontal .inner-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #f2f2f2;
}
.product-tile.horizontal:last-child .inner-tile {
  border-bottom: none;
}
.product-tile.horizontal .product-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.product-tile.horizontal .product-image img {
  height: 90%;
  width: 90%;
}
.product-tile.horizontal .product-info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.product-tile.horizontal .product-info .product-name {
  width: 100%;
  font-size: 1.0714rem;
}
.product-tile.horizontal .product-info .product-quantity-wrapper {
  width: 100%;
}
.product-tile.horizontal .product-info .product-quantity-wrapper .product-quantity {
  width: 60%;
}
.product-tile.horizontal .product-prices {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
}
.product-tile.horizontal .product-prices .sale-price {
  font-size: 1.1429rem;
  font-weight: 500;
}
.product-tile.horizontal .product-prices .original-price {
  font-size: 0.857rem;
}
.product-tile.vertical {
  position: relative;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
}
.product-tile.vertical:not(:last-child) {
  margin-right: 0.65rem;
}
.product-tile.vertical .inner-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 375px) {
  .product-tile.vertical .inner-tile {
    min-height: 236px;
  }
}
@media (min-width: 414px) {
  .product-tile.vertical .inner-tile {
    min-height: 248px;
  }
}
.product-tile.vertical .inner-tile .product-image {
  margin-bottom: 0.85rem;
}
.product-tile.vertical .inner-tile .product-image img {
  height: 100%;
  width: 100%;
}
.product-tile.vertical .inner-tile .product-name {
  font-size: 0.929rem;
  margin-bottom: 0.5rem;
  height: 40px;
  overflow: hidden;
  white-space: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-tile.vertical .inner-tile .product-prices .sale-price {
  font-size: 1.2857rem;
  font-weight: 500;
}
.product-tile.vertical .inner-tile .product-prices .original-price {
  font-size: 1rem;
}
.product-tile.vertical .inner-tile .product-quantity-wrapper {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.product-tile.vertical .inner-tile .product-quantity-wrapper .product-quantity {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.product-quantity {
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 5px rgba(250, 193, 193, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product-quantity button {
  position: relative;
  width: 26px;
  height: 30px;
  border: none;
  background-color: initial;
}
.product-quantity button span {
  font-size: 0.857rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-quantity .quantity {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 1.1429rem;
  font-weight: bold;
  text-align: center;
}

.cart-button {
  position: fixed;
  right: 16px;
  bottom: 20px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
}
.cart-button .cart-float-button {
  width: 60px;
  height: 60px;
  background-color: #008358 !important;
  transition: 0.2s linear !important;
  margin-right: 0 !important;
}
.cart-button .cart-float-button .cart-float-button-icon {
  position: absolute;
  right: 5%;
  bottom: 0;
  left: 0;
  top: 25%;
}
.cart-button .cart-float-button span {
  background-color: #fff;
  border-radius: 50%;
  color: #f58220;
  font-size: 0.7rem;
  padding: 0;
  position: absolute;
  top: 20%;
  right: 20%;
  left: unset;
  bottom: unset;
  width: 15px;
  height: 15px;
  line-height: 15px;
  cursor: pointer;
}

.product-carousel {
  position: relative;
}
.product-carousel .mUZZN {
  margin: 0;
}
.product-carousel .rec-arrow {
  position: absolute;
  top: 50%;
  z-index: 9;
  border-radius: 5px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.product-carousel .rec-arrow.rec-arrow-left {
  left: 4px;
}
.product-carousel .rec-arrow.rec-arrow-right {
  right: 4px;
}

.checkout-product-tile {
  padding: 0.75rem 0;
  border-bottom: 1px solid #f2f2f2;
}
.checkout-product-tile:first-child {
  padding-top: 0;
}
.checkout-product-tile .inner-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}
.checkout-product-tile .item-quantity {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.checkout-product-tile .item-quantity .btn-quantity {
  padding: 12px;
}
.checkout-product-tile .item-quantity .btn-quantity span {
  color: #4db856;
  font-weight: 600;
}
.checkout-product-tile .item-info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 62%;
  flex: 0 0 62%;
  max-width: 62%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.checkout-product-tile .item-info .product-name {
  font-weight: 500;
}
.checkout-product-tile .item-subtotal {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  max-width: 23%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.ui.modal.custom-modal {
  width: 90%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pushable:not(body) {
  transform: none !important;
}
.pushable:not(body) > .ui.sidebar,
.pushable:not(body) > .pusher::after {
  position: fixed !important;
}

.sidebar-content .header {
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
}
.sidebar-content .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
}
.sidebar-content .user .user-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  color: #008358;
}
.sidebar-content .user .user-info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.sidebar-content .user .user-info h5.user-name {
  color: #4db856;
  font-size: 1.4286rem;
  font-weight: 600;
}
.sidebar-content .user .user-info h6.phone-number {
  color: #606060;
  font-size: 1.1429rem;
  margin-bottom: 0;
}
.sidebar-content .logout {
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid #dfdfdf;
}
.sidebar-content .sidebar-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #dfdfdf;
}
.sidebar-content .sidebar-entry .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  color: #daa520;
  text-align: center;
}
.sidebar-content .sidebar-entry .content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 85%;
  flex: 0 0 85%;
  max-width: 85%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-left: 10px;
}
.sidebar-content .sidebar-entry .content h5 {
  font-size: 1.1429rem;
}

/* pages */
.home .category-list {
  margin-top: 66px;
  padding-top: 1.5rem;
}

.product-details .product-image {
  text-align: center;
}
.product-details .product-image img {
  height: 80%;
  width: 80%;
}
.product-details .details {
  padding: 1rem;
}
.product-details .details .product-name {
  font-size: 1.2857rem;
  font-weight: 500;
}
.product-details .details .sale-price {
  font-size: 1.5714rem;
  font-weight: 600;
  color: #008358;
}
.product-details .details .prep-time {
  text-transform: uppercase;
  color: #4db856;
}
.product-details .details .product-quantity {
  position: static;
  left: auto;
  right: auto;
  bottom: auto;
  width: 30%;
}

.cart {
  padding-bottom: 230px;
}
.cart .empty-cart-msg {
  text-align: center;
  color: #555;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cart .clear-cart {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cart .cart-summary {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #f2f2f2;
}
.cart .cart-summary .invalid-msg {
  color: #db2828;
  text-align: center;
  margin-bottom: 0.75rem;
}
.cart .cart-summary .invalid-msg .login-link {
  color: #db2828;
  font-weight: 600;
}
.cart .cart-summary .subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}
.cart .cart-summary .subtotal .label {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 1.1429rem;
}
.cart .cart-summary .subtotal .values {
  text-align: right;
}
.cart .cart-summary .subtotal .values .value {
  font-size: 1.5714rem;
  font-weight: 600;
}
.cart .cart-summary .subtotal .values .original-value {
  font-size: 1.1429rem;
}
.cart .cart-summary .proceed-to-checkout-btn {
  width: 100%;
}

.login .login-body {
  padding: 1rem;
}
.login .login-body .login-form .submit-button-wrapper {
  width: 100%;
  text-align: center;
}
.login .login-body .login-form button {
  margin: 0;
}

.checkout {
  padding-bottom: 200px;
  background-color: #f2f2f2;
}
.checkout .checkout-section .section-header {
  padding: 0.5rem 0.75rem;
  background-color: #f2f2f2;
  font-size: 1.1429rem;
  font-weight: 600;
  color: #999;
}
.checkout .checkout-section .section-body {
  padding: 0.75rem;
  background-color: #fff;
}
.checkout .checkout-section.customer-details .section-body {
  padding-left: 0;
}
.checkout .order-summary .edit-cart-link {
  margin-bottom: 0.75rem;
  font-weight: 600;
}
.checkout .order-summary .edit-cart-link a {
  color: #4db856;
  text-decoration: none;
}
.checkout .order-summary .summary {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
}
.checkout .order-summary .summary .summary-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}
.checkout .order-summary .summary .summary-entry .summary-title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 77%;
  flex: 0 0 77%;
  max-width: 77%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.checkout .order-summary .summary .summary-entry .summary-amount {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  max-width: 23%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.checkout .payment .payment-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}
.checkout .payment .payment-inner .payment-methods {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-right: 15px;
  border-right: solid 1px #dfdfdf;
}
.checkout .payment .payment-inner .promos {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-left: 15px;
  color: #999;
}
.checkout .order-placement {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #f2f2f2;
}
.checkout .order-placement .invalid-msg {
  color: #db2828;
  text-align: center;
  margin-bottom: 0.75rem;
}
.checkout .order-placement .subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}
.checkout .order-placement .subtotal .label {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 1.1429rem;
}
.checkout .order-placement .subtotal .values {
  text-align: right;
}
.checkout .order-placement .subtotal .values .value {
  font-size: 1.5714rem;
  font-weight: 600;
}
.checkout .order-placement .subtotal .values .original-value {
  font-size: 1.1429rem;
}
.checkout .order-placement button {
  width: 100%;
}

.customer-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}
.customer-field:not(:last-child) {
  margin-bottom: 0.75rem;
}
.customer-field .field-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4db856;
}
.customer-field .field-data {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 85%;
  flex: 0 0 85%;
  max-width: 85%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.customer-field .field-data h5 {
  display: block;
  font-size: 1.1429rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.customer-field .field-data span {
  color: #555;
}

.payment-method-list,
.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.payment-method-list .list-item,
.promo-list .list-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.payment-method-list .list-item .payment-method-name,
.promo-list .list-item .payment-method-name {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 85%;
  flex: 0 0 85%;
  max-width: 85%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.payment-method-list .list-item .checkmark,
.promo-list .list-item .checkmark {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  visibility: hidden;
  color: #4db856;
  text-align: right;
}
.payment-method-list .list-item.selected .checkmark,
.promo-list .list-item.selected .checkmark {
  visibility: visible;
}

.inner-page.order-confirmation .icon {
  text-align: center;
  color: #db2828;
  padding-top: 2.5rem;
}
.inner-page.order-confirmation .order-confirmation-msg {
  text-align: center;
  padding-top: 1.5rem;
}
.inner-page.order-confirmation .back-to-homepage {
  text-align: center;
  padding-top: 2rem;
}

.order-detail-page {
  background-color: #f2f2f2;
}
.order-detail-page .order-details {
  text-align: center;
}
.order-detail-page .no-order-yet .icon {
  text-align: center;
  color: #888;
  padding-top: 2.5rem;
}
.order-detail-page .no-order-yet .no-order-yet-msg {
  text-align: center;
  padding-top: 1.5rem;
}
.order-detail-page .no-order-yet .back-to-homepage {
  text-align: center;
  padding-top: 2rem;
}
.order-detail-page .ui.card {
  border-radius: 0;
}
.order-detail-page .ui.card > div {
  text-align: left;
}
.order-detail-page .ui.card.order-info {
  margin-top: 1rem;
}
.order-detail-page .ui.card.order-details .summary {
  padding-top: 0.75rem;
}
.order-detail-page .ui.card.order-details .summary .summary-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}
.order-detail-page .ui.card.order-details .summary .summary-entry .summary-title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 77%;
  flex: 0 0 77%;
  max-width: 77%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.order-detail-page .ui.card.order-details .summary .summary-entry .summary-amount {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  max-width: 23%;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
