/* utilities */
/* colors */
/* font sizes */
/* custom measurements */
html,
body {
  font-size: 14px;
  color: #212529;
}

body {
  padding-top: 53px;
}

a,
a:hover {
  color: #212529;
}

#app {
  background-color: #d9d2ee;
}

.inner-page {
  background-color: #fff;
}
.inner-page .top-section {
  border-bottom: 10px solid #f2f2f2;
}

.page {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.component-container {
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* components */
.home-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.96);
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
  height: 66px;
}
.home-header .home-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home-header .home-header-wrapper .search-box {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.home-header .home-header-wrapper button {
  margin-left: 0.5rem;
  margin-right: 0;
}

.page-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.96);
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
  padding-left: 8px;
  height: 53px;
}
.page-header .page-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.page-header .page-header-wrapper .home-logo {
  position: absolute;
  top: 50%;
  left: 0;
  height: 41px;
  width: 41px;
  border-radius: 8px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.page-header .page-header-wrapper .home-logo img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.promo-banner img {
  height: 100%;
  width: 100%;
}

.category-list {
  margin-bottom: 1rem;
}
.category-list .list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.category-list .category-tile {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.category-list.has-2-cols .category-tile {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.category-list.has-3-cols .category-tile {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.category-list.has-4-cols .category-tile {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.category-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.2rem;
}
.category-tile .category-icon {
  width: 64px;
  height: 64px;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 6px 2px rgba(34, 36, 38, 0.15);
  box-shadow: 0 0 6px 2px rgba(34, 36, 38, 0.15);
}
.category-tile .category-icon img {
  height: 100%;
  width: 100%;
}
.category-tile.show-all .category-icon {
  position: relative;
}
.category-tile.show-all .category-icon span {
  font-size: 2.8571rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.category-tile a {
  color: #212529;
}

.home-category {
  padding-bottom: 2rem;
}
.home-category .home-category-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.home-category .home-category-header .category-name {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.home-category .home-category-header .category-name h5 {
  font-weight: bold;
}
.home-category .home-category-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-tile.horizontal {
  padding: 1.25rem 1.25rem 0 1.25rem;
}
.product-tile.horizontal .inner-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #f2f2f2;
}
.product-tile.horizontal:last-child .inner-tile {
  border-bottom: none;
}
.product-tile.horizontal .product-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.product-tile.horizontal .product-image img {
  height: 90%;
  width: 90%;
}
.product-tile.horizontal .product-info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.product-tile.horizontal .product-info .product-name {
  font-size: 1.0714rem;
}
.product-tile.horizontal .product-info .product-quantity {
  position: absolute;
  left: 0;
  right: auto;
  bottom: 0;
  width: 50%;
}
.product-tile.horizontal .product-prices {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
}
.product-tile.horizontal .product-prices .sale-price {
  font-size: 1.1429rem;
  font-weight: 500;
}
.product-tile.horizontal .product-prices .original-price {
  font-size: 0.857rem;
}
.product-tile.vertical {
  position: relative;
  height: 100%;
  padding: 10px 10px 4rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
}
.product-tile.vertical:not(:last-child) {
  margin-right: 0.65rem;
}
.product-tile.vertical .product-info img {
  height: 100%;
  width: 100%;
}
.product-tile.vertical .product-info .product-name {
  font-size: 0.857rem;
  margin-top: 0.85rem;
  margin-bottom: 0.5rem;
}
.product-tile.vertical .product-info .sale-price {
  font-size: 1.2857rem;
  font-weight: 500;
}
.product-tile.vertical .product-info .original-price {
  font-size: 1rem;
}

.product-quantity {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 5px rgba(250, 193, 193, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product-quantity button {
  position: relative;
  width: 26px;
  height: 30px;
  border: none;
  background-color: initial;
}
.product-quantity button span {
  font-size: 0.857rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-quantity .quantity {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 1.1429rem;
  font-weight: bold;
  text-align: center;
}

.card-button {
  position: fixed;
  right: 16px;
  bottom: 20px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
}
.card-button .cart-float-button {
  width: 60px;
  height: 60px;
  background-color: #008358 !important;
  transition: 0.2s linear !important;
  margin-right: 0 !important;
}
.card-button .cart-float-button .cart-float-button-icon {
  position: absolute;
  right: 5%;
  bottom: 0;
  left: 0;
  top: 25%;
}
.card-button .cart-float-button span {
  background-color: #fff;
  border-radius: 50%;
  color: #f58220;
  font-size: 0.7rem;
  padding: 0;
  position: absolute;
  top: 20%;
  right: 20%;
  left: unset;
  bottom: unset;
  width: 15px;
  height: 15px;
  line-height: 15px;
  cursor: pointer;
}

/* pages */
.home {
  padding-top: 13px;
}
.home .promo-banner {
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .home .promo-banner {
    padding-top: 0;
  }
}

.all-categories .category-list {
  padding-top: 1.5rem;
}

.product-details .product-image {
  text-align: center;
}
.product-details .product-image img {
  height: 80%;
  width: 80%;
}
.product-details .details {
  padding: 1rem;
  border-bottom: 10px solid #f2f2f2;
}
.product-details .details .product-name {
  font-size: 1.2857rem;
  font-weight: 500;
}
.product-details .details .sale-price {
  font-size: 1.5714rem;
  font-weight: 600;
  color: #008358;
}
.product-details .details .prep-time {
  text-transform: uppercase;
  color: #4db856;
}
.product-details .details .product-quantity {
  position: static;
  left: auto;
  right: auto;
  bottom: auto;
  width: 30%;
}

.cart .cart-summary {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  border-top: 1px solid #f2f2f2;
}
.cart .cart-summary .subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.75rem;
}
.cart .cart-summary .subtotal .subtotal-label {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 1.1429rem;
}
.cart .cart-summary .subtotal .subtotal-value {
  font-size: 1.5714rem;
  font-weight: 600;
}
.cart .cart-summary button {
  width: 100%;
}
